.container {
	padding: 0 2rem;
}

.main {
	display: flex;
    flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    justify-content: center;
    padding-top: 3rem   ;
    /*
	min-height: 100vh; */
}

.blogItemP{
	max-width: 45vw;
}